#ifndef INCLUDE_SECRETS
#define INCLUDE_SECRETS

string MqttTopic = "";
IPAddress MqttServerName(192, 168, 2, 104);
uint16_t MqttPort = 1234;
string MqttUserName = "";
string MqttUserPass = "";

String ssid = "";
String password = "";

string KeyBleMac = "";
string KeyBleUserKey = "";
unsigned char KeyBleUserId = 1;

#endif /* INCLUDE_SECRETS */